.header
  h1.dark The
  img(src="http://www.cslib.org.uk/cslib-logo-300.png")
  h1.dark Hub
  
.content
  .welcome-text
    h1.light Welcome to CSLib!
    p
      | From here, you can access all of the various resources we’ve setup so you can get started with your own VMs, find out what we’ve got going on and maybe join a project.<br><br>The best places to get started are Discord or the Docs, which are linked just below!
  
  .discord
    .button.purple
      i.fab.fa-discord
      p Join the Discord!
    p (Authorises through UoS SSO)
  
  .other-buttons
    .button
      i.fas.fa-pen-nib
      p Editable Wiki/Docs

    .button
      i.fab.fa-github
      p CSLib GitHub

    .button
      i.fas.fa-envelope
      p Join Mailing List!

    .button
      i.fas.fa-handshake
      p Read the Rules
      
  a.github-info(href="https://github.com/")
    p Edit this site on GitHub!